/*======= Reset ======*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --primo: #007EC0;
    --primo: #007EC0;
    --primo: #118DF0;
    --primo: #6A00EB;
    --primo: #0a437c;
    /* --segundo: #3EC300; */
    --segundo: #FF14E8;
    /* --segundo: #00c043; */
    --txt: #435460;
    /* --bg2: #E5BEED; */
    /* --bg2: #dbf9f4; */
    --bg2: #edd7fc;
    /* --bg2: #FCE8B8; */
  }
a {
    color: inherit;
    text-decoration: none;
}
html{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3 {
    /* line-height: 1.4; */
    text-transform: capitalize;
    margin-bottom: .75em;

}
h2{
    font-size: 1.8em
}
h3{
    font-size: 1.4em;
}
@media (min-width: 768px){
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }
}

.container{
    height: 100%;
}
/*============= Flex Boxes ===============*/
.flex-h-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-h-around-start {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
  }

/*====== Header =======*/
#top-bar {
    border-bottom: 1px solid rgb(180, 180, 180);
    color: var(--segundo);
    font-size: 1.125em;
    letter-spacing: .6px;
}
.navbar{
    height: 100px;
}
header img{
    height: 70px;
}
img[src="images/phone-icon.svg"]{
    width: 3em;
    filter: drop-shadow(0px 1px 0.5px rgba(100, 100, 100, 0.3)) drop-shadow(0px 2px 2px rgb(197, 12, 12));
}
img[src="images/phone-icon.svg"]:hover{
    transform: translateY(2px);
}

@media (min-width: 768px) {
    img[src="images/phone-icon.svg"]{
        width: 2em;
        filter: drop-shadow(0px 0px 0px)
    }
    img[src="images/phone-icon.svg"]:hover{
        transform: translateY(0px);
    }
    header img{
        height: 90px;
    }
    
}
main {
    flex: 1 1;
}
footer .container{
    line-height: 60px;
    border-top: 1px solid var(--txt)
}
section{
    padding: 65px 0;
}
/*===== Hero =====*/
#hero{
    min-height: 85vh;
    color: white;
    /* background-color: green; */
    background-image: linear-gradient(to left, rgba(0, 100, 250, 0.2), rgba(0, 0,250, 0.3)), url(../images/bg6.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}
h1{
    font-size: 3rem;
}
@media (min-width: 768px) {
    h1{
        font-size: 4.5rem;
    }
}
h1 span{
    display: block;
    font-size: 2.5rem;
    margin-top: 1em;
    font-weight: 400;
    line-height: 1.4;
    max-width: 850px;
}

/*--------------Services --------------*/
#services{
    background-color: var(--primo);
    /* padding: 65px 0; */
    color: white;
    text-align: center;
}
#services figure {
    width: 200px;
    /* margin: auto; */

}
#services i{
    font-size: 2.5em;
}
#services figure div{
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 2em;
    color: var(--primo)
}
#services p{
    font-size: 1.1em;
}
@media (max-width: 480px) {
    #services-list{
        display: block;
    }
    #services figure {
        margin: auto;
    }
 
}

/*============== Map ===============*/
#map iframe{
    width: 100%;
    height: 422px;
}

