/*======= Reset ======*/
/* font-family: 'Lora', serif; */
/* font-family: 'Montserrat', sans-serif; */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    box-sizing: border-box;
    --body-font: 'Montserrat', sans-serif;
    --heading-font: 'Lora', serif;


    --primo: #007EC0;
    --primo: #007EC0;
    --primo: #118DF0;
    --primo: #6A00EB;
    --primo: #0a437c;
    /* --segundo: #3EC300; */
    --segundo: #FF14E8;
    /* --segundo: #00c043; */
    --txt1: #7f7f7f;
    --txt2: #435460;
    /* --bg2: #E5BEED; */
    /* --bg2: #dbf9f4; */
    --bg2: #edd7fc;
    /* --bg2: #FCE8B8; */
  }
a {
    color: inherit;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--txt1);
    font-family: var(--body-font);
}
h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: 600;
    /* line-height: 1.4; */
    text-transform: capitalize;
    margin-bottom: .75em;

}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.4rem;
}
@media (min-width: 768px){
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
}

.container{
    height: 100%;
}
/*============= Flex Boxes ===============*/
.flex-h-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flex-h-around-start {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
  }

/*====== Header =======*/
#top-bar {
    border-bottom: 1px solid rgb(180, 180, 180);
    /* color: var(--segundo); */
    font-size: 1.2rem;
    letter-spacing: .6px;
    font-weight: bold;
    color: var(--txt1)
}
.navbar{
    height: 100px;
}
header img{
    height: 70px;
}
img[src="images/phone-icon.svg"]{
    width: 2.3em;
    filter: drop-shadow(0px 1px 0.5px rgba(100, 100, 100, 0.3)) drop-shadow(0px 2px 2px rgb(197, 12, 12));
}
img[src="images/phone-icon.svg"]:hover{
    transform: translateY(2px);
}

@media (min-width: 768px) {
    img[src="images/phone-icon.svg"]{
        width: 2em;
        filter: drop-shadow(0px 0px 0px)
    }
    img[src="images/phone-icon.svg"]:hover{
        transform: translateY(0px);
    }
    header img{
        height: 90px;
    }
    
}
main {
    flex: 1 1;
}
footer .container{
    line-height: 60px;
    border-top: 1px solid var(--txt)
}
section{
    padding: 65px 0;
}
/*===== Hero =====*/
#hero{
    min-height: 85vh;
    color: white;
    /* background-color: green; */
    background-image: linear-gradient(to left, rgba(0, 100, 250, 0.2), rgba(0, 0,250, 0.3)), url(../images/bg6.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}
h1{
    font-size: 3rem;
    color: white;
}
@media (min-width: 768px) {
    h1{
        font-size: 4.5rem;
    }
}
h1 span{
    display: block;
    font-size: 2rem;
    margin-top: 1em;
    font-weight: 400;
    font-family: var(--body-font);
    line-height: 1.4;
    max-width: 850px;
}

/*--------------Services --------------*/
#services{
    background-color: var(--primo);
    /* padding: 65px 0; */
    color: white;
    text-align: center;
}
#services figure {
    width: 200px;
    /* margin: auto; */

}
#services i{
    font-size: 2.5em;
}
#services figure div{
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 2em;
    color: var(--primo)
}
/* @media (max-width: 480px) {
    #services-list{
        display: block;
    }
    #services figure {
        margin: auto;
    }
    
}
/*=========== Mission ==============*/
#mission h2{
    color: var(--txt2)
}
#mission blockquote{
    max-width: 850px;
    /* margin-left: auto; */
    font-size: 1.2rem;
    margin: auto;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid var(--primo);
    background-color: #f2f2f2;
    position: relative;
}
#mission blockquote i{
    font-size: 1.8em;
    color: var(--primo);
    position: absolute;
    left: 28px;
    top: 10px;
}

#mission p+p{
    font-weight: 600;
}
#mission p+p::after{
    content: '';
    background-image: url(../images/jatsignature.png);
    background-size: cover;
    display: inline-block;
    width: 10em;
    height: 3.2em;
    vertical-align: middle;
}

/*============== Map ===============*/
#map iframe{
    width: 100%;
    height: 422px;
}

